* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/pattern.png);
}

#title {
  color: #fff;
  text-transform: uppercase;
}

#aside_title{

}

#link_text {
  font-size: 15px;
}

.container {
  width: 1000px;
  margin: auto;
  padding-top: 1%;

}


.header_logo {
  position: relative;
  height: 300px;
  border: 10px solid #fff;
  background-image: url(../img/natural-header.jpg);
  background-size: cover;
  background-position: center;
}

.text_container {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  }

h1 {
  display: inline-block;
  border: 3px solid #fff;
  padding: 1% 2%;
  font-size: 45px;
  margin-bottom: 15px;
}

nav {
  background-color: grey;
  height: 40px;
}

.header_navigator {
  text-align: center;
  list-style: none;
}

.header_navigator li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 2%;
  }

.header_navigator li :hover {
    background-color: lightgrey;
  }

.header_navigator a {
  display: inline-block;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
}

.centre::after {
  content: "";
  display: block;
  clear: both;
}

.centre {
  margin-top: 2%;
  margin-bottom: 2%;
}

.aside_left {
  float: left;
  width: 28%;
  margin-right: 2%;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 5px;
}

.aside_left_title .fa-rss-square {
  float: left;
  display: inline-block;
  color: orange;

}

.aside_left_title {
  float: left;
  margin-bottom: 10px;
  text-align: center;
}

.aside_left_list {
  content: "";
  display: block;
  clear: both;
}

.aside_left_list li {
  list-style: none;
  padding-bottom: 40px;
  text-align: left;
}

.aside_left_list a {
  color: green;
  text-decoration: none;
}

.middle {
  float: left;
  width: 40%;
  background-color: purple;
}

.aside_right {
  float: left;
  width: 28%;
  margin-left: 2%;
  background-color: pink;
}

.widget {
  margin-bottom: 2px;
}

.bottom {
  height: 10%;
  margin-bottom: 2px;
  background-color: lightblue;

}
